@font-face {
  font-family: "Montesrat-R";
  src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* SECTION1 */
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url(../assets/images/Layer\ 1\ 5.jpg);
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  width: 100%;
  background: rgba(94, 93, 88, 0.6);
  display: flex;
  justify-content: center;
}

.header__nav {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 233.05px;
}

.header__list {
  width: 100%;
  display: flex;
  align-items: center;
}

.header__link {
  padding: 50.35px 0px 48px 0px;
  margin: 0px 21.09px 0px 21.09px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montesrat-R";
  font-weight: 700;
  border-bottom: 2px solid rgba(24, 207, 171, 0);
}

.header__list .header__link:nth-child(1) {
  margin-left: 220px;
}

.header__link:hover {
  color: rgba(24, 207, 171, 1);
  border-bottom: 2px solid rgba(24, 207, 171, 1);
  cursor: alias;
}

.poster__texts {
  width: 1160px;
  margin-top: 264px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montesrat-R";
}

.poster__texts .poster__text:nth-child(2) {
  color: rgba(255, 255, 255, 1);
  font-size: 78px;
  margin: 22px 0px;
  font-weight: 700;
}

.poster__texts .poster__text:nth-child(1) {
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  font-weight: 700;
}

.color__text {
  color: rgba(24, 207, 171, 1);
}

.poster__texts .poster__text:nth-child(3) {
  color: rgba(212, 212, 212, 1);
  font-size: 34px;
  font-weight: 400;
}

.section1__buttons {
  margin-top: 129px;
  margin-bottom: 247px;
  display: flex;
}

.section1__buttons .white__background:last-child {
  margin-left: 26px;
}

.white__background,
.white__backgruond2 {
  display: flex;
  align-items: flex-end;
  width: 169px;
  background: white;
  height: 64px;
  border-radius: 3px;
  border: none;
}

.section1__button1,
.section1__button2,
.buy__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 59px;
  background-color: rgba(24, 207, 171, 1);
  border-radius: 3px;
  font-family: "Montesrat-R";
  font-weight: 700;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.section1__button2 {
  background-color: rgba(0, 203, 246, 1);
}

/* SECTION2*/

.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.benefits {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 377px);
}

.benefit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montesrat-R";
}

.benefit1 {
  background: rgba(28, 42, 51, 1);
  color: rgba(24, 207, 171, 1);
}

.benefit__text1 {
  margin-top: 47px;
}

.benefit2 {
  background-color: rgba(24, 207, 171, 1);
  color: rgba(255, 255, 255, 1);
}

.benefit__text2 {
  margin-top: 58px;
}

.benefit3 {
  background-color: rgba(28, 42, 51, 1);
  color: rgba(24, 207, 171, 1);
}

.benefit__text3 {
  margin-top: 48px;
}

.benefit4 {
  background-color: rgba(24, 207, 171, 1);
  color: rgba(255, 255, 255, 1);
}

.benefit__text4 {
  margin-top: 58px;
}

.about__us,
.our__works {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__text,
.works__text {
  margin-top: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(78, 78, 78, 1);
  font-size: 36px;
  font-family: "Montesrat-R";
  font-weight: 400;
}

.green__line1 {
  width: 75.54px;
  margin-top: 26px;
  border-bottom: 1px solid rgba(24, 207, 171, 1);
}
.green__line2 {
  width: 78px;
  border-bottom: 1px solid rgba(24, 207, 171, 1);
  margin-top: 4px;
  margin-left: 11px;
}

.services__link {
  position: relative;
}

.arrow {
  position: absolute;
  top: 99%;
  left: 45%;
}


.services,
.services__list,
.works,
.works__list {
  width: 100%;
}



.services__list,
.works__list {
  position: relative;
  display: flex;
  margin-top: 69px;
  background-color: rgba(242, 242, 242, 1);
  height: 72px;
}

.services__link,
.works__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 194px;
  padding: 16.2px 0px 15.8px 0px;
  font-family: "Montesrat-R";
  font-weight: 400;
  border-top: 1px solid #edefef;
  border-bottom: 1px solid #edefef;
}



.services__link.active {
  background: rgba(24, 207, 171, 1);
}

.services__list .services__link:first-child,
.services__list .services__link:nth-child(2),
.services__list .services__link:nth-child(3),
.services__list .services__link:nth-child(4),
.services__list .services__link:nth-child(5) {
  border-right: 1px solid #edefef;
}

.services__list .services__link:first-child:hover,
.services__list .services__link:nth-child(2):hover,
.services__list .services__link:nth-child(3):hover,
.services__list .services__link:nth-child(4):hover,
.services__list .services__link:nth-child(5):hover,
.services__list .services__link:nth-child(6):hover {
  border: 1.5px solid #18cfab;
}

.about__us-container {
  width: 1160px;
  display: flex;
  margin-top: 28px;
}

.our__images {
  width: 192px;
  height: 139px;
}

.tabs__content {
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
}

.buy__install {
  width: 100%;
  margin-top: 91px;
  background: url(../assets/images/install.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.buy__texts {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy__text1 {
  margin-top: 127px;
  color: rgba(24, 207, 171, 1);
  font-family: "Montesrat-R";
  font-weight: 700;
  font-size: 40px;
}

.buy__text2 {
  margin-top: 12.22px;
  color: rgba(216, 216, 216, 1);
  font-family: "Montesrat-R";
  font-weight: 400;
  font-size: 16px;
}

.white__backgruond2 {
  margin-top: 67px;
  margin-bottom: 127px;
}

.section3 {
  width: 100%;
  background-color: rgba(233, 237, 239, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works__list {
  height: 58px;
  justify-content: center;
  background-color: inherit;
  align-items: center;
}

.works__link {
  width: 118px;
  height: 58px;
  font-size: 14px;
  display: flex;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  color: rgba(113, 113, 113, 1);
  border-left: 1px solid #dadada;
}

.works__list .works__link:first-child {
  width: 77px;
}
.works__list .works__link:nth-child(2) {
  width: 143px;
}
.works__list .works__link:nth-child(4) {
  width: 143px;
}
.works__list .works__link:nth-child(5) {
  width: 106px;
  border-right: 1px solid #dadada;
}

.works__list .works__link:nth-child(5).active,
.works__link.active {
  border: 2px solid #18cfab;
}

.works__images-container {
  width: 1160px;
  margin-top: 71px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.works__images {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 211px);
}

.work__image {
  width: 100%;
  height: 211px;
}

.work__image:hover {
  content: url(../assets/images/hover.png);
}



.load__more {
  margin-top: 70px;
  background: rgba(24, 207, 171, 1);
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: all 0.25s ease;
  width: 168px;
  position: relative;
  height: 63px;
  overflow: hidden;
  margin-bottom: 99px;
}

.load__plus {
  margin-left: 23px;
}

.load__more .load__plus {
  display: block;
  pointer-events: none;
  transition: all 0.25s ease;
}

.load__more .load__text {
  width: 168px;
  display: block;
  pointer-events: none;
  transition: all 0.25s ease;
}
.progruzka-animate {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 100;
  border-radius: 50%;
  top: 0;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s ease;
}
.progruzka-animate:after {
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left: 3px solid rgb(255, 255, 255);
  animation: progruzka infinite 0.8s ease 0.05s;
  position: absolute;
}
.progruzka-animate:before {
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left: 3px solid #fff;
  animation: progruzka infinite 0.8s linear;
  position: absolute;
  opacity: 0.6;
}
.load__more.progruzka {
  width: 60px;
  border-radius: 50%;
}

.load__more.progruzka .load__text {
  transform: translate(-140px);
}
.load__more.progruzka .load__plus {
  display: none;
}
.load__more.progruzka .progruzka-animate {
  opacity: 1;
}
@keyframes progruzka {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.seсtion4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.breaking__news,
.feedback {
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.news {
  position: relative;
  width: 1160px;
  margin-top: 68px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 35px;
}

.post {
  position: relative;
  transition: 120ms;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 73%;
  background-color: rgba(32, 62, 56, 1);
  width: 70px;
  height: 68px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: "Montesrat-R";
  font-weight: 400;
  transition: 120ms;
}
.post:hover {
  background-color: rgba(242, 244, 245, 1);
}

.post:hover > .box {
  background-color: rgba(24, 207, 171, 1);
}

.post:hover > .news__text1 {
  color: #18cfab;
}

.news__text1 {
  color: rgba(113, 113, 113, 1);
  font-family: "Montesrat-R";
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
  transition: 120ms;
  margin-top: 16px;
}

.news__text2 {
  color: rgba(119, 119, 119, 1);
  font-family: "Montesrat-R";
  font-size: 14px;
  font-weight: 300;
  margin-left: 25px;
  margin-top: 6px;
  display: flex;
}

.month {
  margin-top: 12px;
}

/* SECTION 5 */

.section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 115px;
  background: url(../assets/images/bg\ s5.png);
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

}

.feedback {
  margin-top: 98px;
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  font-family: "Montesrat-R";
  font-weight: 400;
}

.feedback__decoration {
  width: 47px;
  margin-top: 66px;
}

.preferences {
  width: 1160px;
  font-family: "Montesrat-R";
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(187, 187, 187, 1);
  font-weight: 300;
  margin-top: 36px;
}

.slider {
  width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__person {
  margin-top: 37px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montesrat-R";
  font-size: 16px;
  font-weight: 300;
  color: #18cfab;
}

.prof {
  color: rgba(187, 187, 187, 1);
  margin-top: 20px;
}


.active__persone {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 166px;
  border: 12px solid rgba(31, 218, 181, 0.25);
  border-radius: 50%;
  transition: all ease 1s;

}

.activ__persone {
  width: 143px;
  transition: all ease 1s;
}


.slider__container {
  margin-top: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 104px;
}

.slider__choose {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 1s;
}

.slide__single {
  border: 6px solid rgba(31, 218, 181, 0.25);
  border-radius: 50%;
  width: 85px;
  margin: 0px 15px 0px 15px;
  transition: all ease 1s;
}

.slide__single.active{
  transform: translateY(-20px);
}

.tap__tap,
.tap__tapp {
  width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(187, 187, 187, 1);
  transition: 150ms;
}

.tap__tap:hover,
.tap__tapp:hover {
  background-color: #18cfab;
  border: none;
}
/* FOOTER */

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(34, 53, 63, 1);
}

.copyright {
  margin-top: 48px;
  color: rgba(174, 174, 174, 1);
  font-family: "Montesrat-R";
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 47px;
}
.the__ham {
  color: #18cfab;
}